<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>PECURKE</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/login.css" rel="stylesheet">
        <link href="css/jquery-ui.min.css" rel="stylesheet">
    </head>
    <body>


        <div class="row" id="row1">
            <div class="col-md-2"></div>
            <div class="col-md-8"></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" id="row2">
            <div class="col-md-2"></div>
            <div class="col-md-8" id="dobavljaci"><table class="table" id="tblDobavljaci"></table></div>
            <div class="col-md-2"></div>


        </div>

        <div id="dialog-confirm" title="Izaberite?">
        </div>


        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/dobavljaci.js"></script>
        <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    </body>
</html>
