<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/login.css" rel="stylesheet">
    </head>

    <body >
        






        <section id="tabeleSection">
            <div class="container" id="rowF">
                <form id="addForm" >
                    <div class="form-group">
                        <input id="d" type="radio" name="optradio">Kompost
                    </div>

                    <div class="form-group">

<!--                        <label >Tip takmicenja</label>
                        <select name="tiptakmicenja" class="form-control" id="tipTakmicenjaSlc">

                        </select>-->
                        <input id="d" type="radio" name="optradio">Tip
                    </div>
                    <div class="form-group">
                        <input id="d" type="radio" name="optradio">Kompost
                    </div>
                    <button type="button" id="btnDodajTakmicenje" class="btn btn-primary">Unesi takmicenje</button>
                </form>
            </div>
        </section>

        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/radi.js"></script>
    </body>
</html>
